{% block javascripts %}
<script src="{{ asset('bundles/admin/js/custom.js') }}" type="text/javascript"></script>
{% endblock %}
{% block custom_color_picker_widget %}
    {% spaceless %}
        {% if expanded %}
            <div>
            {% for child in form %}
                <label class="color-boat-container">
                    <div class="color-box"></div>
                  {{ form_widget(child) }}
                </label>
                {% endfor %}
            </div>
        {% else %}
            {# let the choice widget render the select tag #}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock %}